{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="cur_left">Login:</div>
    <div class="row">
        <div class="col-md-5">
            <form id="login_form" class="post-form" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" maxlength="150" class="form-control" required id="username" name="username" placeholder="Enter the Username" value="">
                </div>
                <div class="form-group">
                    <label for="id_password">Password:</label>
                    <input type="password" class="form-control" required id="id_password" name="password" placeholder="Enter the Password" value="">
                </div>
                <input type="submit" class="btn btn-default" name="submit" value="Login" />
            </form>
        </div>
    </div>

{% endblock %}
